@page
@model AvcolStaff.Pages.StandardsS.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Standards</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Standards.SubjectsID" class="control-label"></label>
                <select asp-for="Standards.SubjectsID" class ="form-control" asp-items="ViewBag.SubjectsID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Standards.Credits" class="control-label"></label>
                <input asp-for="Standards.Credits" class="form-control" />
                <span asp-validation-for="Standards.Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standards.StandardName" class="control-label"></label>
                <input asp-for="Standards.StandardName" class="form-control" />
                <span asp-validation-for="Standards.StandardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standards.StandardCode" class="control-label"></label>
                <input asp-for="Standards.StandardCode" class="form-control" />
                <span asp-validation-for="Standards.StandardCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
