@page
@model AvcolStaff.Pages.PersonalInfoS.EditModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<h4>PersonalInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonalInformation.StaffID" />
            <div class="form-group">
                <label asp-for="PersonalInformation.DateOfBirth" class="control-label"></label>
                <input asp-for="PersonalInformation.DateOfBirth" class="form-control" />
                <span asp-validation-for="PersonalInformation.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.Address" class="control-label"></label>
                <input asp-for="PersonalInformation.Address" class="form-control" />
                <span asp-validation-for="PersonalInformation.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.PhoneNumber" class="control-label"></label>
                <input asp-for="PersonalInformation.PhoneNumber" class="form-control" />
                <span asp-validation-for="PersonalInformation.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.EmergencyContact" class="control-label"></label>
                <input asp-for="PersonalInformation.EmergencyContact" class="form-control" />
                <span asp-validation-for="PersonalInformation.EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.EcRelaitonship" class="control-label"></label>
                <input asp-for="PersonalInformation.EcRelaitonship" class="form-control" />
                <span asp-validation-for="PersonalInformation.EcRelaitonship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.CitizenStatus" class="control-label"></label>
                <select select asp-for="PersonalInformation.CitizenStatus" class="form-control" name="PersonalInformation.CitizenStatus">
                    <option value="">Select one</option>
                    <option value="NZ">NZ</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="PersonalInformation.CitizenStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.Ethnicity" class="control-label"></label>
                <select select asp-for="PersonalInformation.Ethnicity" class="form-control" name="PersonalInformation.Ethnicity">
                    <option value="">Select one</option>
                    <option value="New Zealander">New Zealander </option>
                    <option value="Australian">Australian</option>
                    <option value="Indian">Indian</option>
                    <option value="Pacifica">Pacifica</option>
                    <option value="British">British</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="PersonalInformation.Ethnicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInformation.EmailAddress" class="control-label"></label>
                <input asp-for="PersonalInformation.EmailAddress" readonly class="form-control"/>
                <span asp-validation-for="PersonalInformation.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            @Html.ValidationSummary(false)
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
