@page
@model AvcolStaff.Pages.StaffS.EditModel

@{
    ViewData["Title"] = "Edit";
}
<script type="text/javascript">
    function onNameChange()//when a name is entered
    {
        var firstName = $('#Staff_FirstName').val();// stores the value of first name in a variable
        var lastName = $('#Staff_LastName').val();//stores the vlaue of the last name in a variable

        if (firstName !== "" && lastName !== "")//not nulls
        {
            $('#Staff_TeacherCode').val(firstName.substring(0, 1).toUpperCase() + lastName.substring(0, 2).toUpperCase());
            //sets the value of the teacher code in the staff class. Takes the start of the first name string up to the first character and adds it to the first 2 charcters of the last name and then makes them upper case
        }

    }
</script>

<h1>Edit</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff.StaffID" />
            <div class="form-group">
                <label asp-for="Staff.FirstName" class="control-label"></label>
                <input asp-for="Staff.FirstName" class="form-control"onchange="onNameChange()"/>
                <span asp-validation-for="Staff.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.LastName" class="control-label"></label>
                <input asp-for="Staff.LastName" class="form-control"onchange="onNameChange()" />
                <span asp-validation-for="Staff.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.TeacherCode" class="control-label"></label>
                <input asp-for="Staff.TeacherCode" readonly class="form-control" />
                <span asp-validation-for="Staff.TeacherCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.HireDate" class="control-label"></label>
                <input asp-for="Staff.HireDate" class="form-control" />
                <span asp-validation-for="Staff.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
