@page
@model AvcolStaff.Pages.DepartmentSubjectsS.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DepartmentSubjects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmentSubjects.DepartmentsID" class="control-label"></label>
                <select asp-for="DepartmentSubjects.DepartmentsID" class="form-control" asp-items="ViewBag.DepartmentsID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentSubjects.SubjectsID" class="control-label"></label>
                <select asp-for="DepartmentSubjects.SubjectsID" class="form-control" asp-items="ViewBag.SubjectsID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @Html.ValidationSummary(false)
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
