@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-image: url(); background-image: url('images/rcaa06a832281d63900826181f5c098c9.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="text-center text-white py-5">
         <h1 class="display-4 font-weight-bold mb-4">Avondale College Staff</h1>
         <p class="lead mb-0">Document, Edit and view details of staff at <a href="https://www.avcol.school.nz/">Avondale College</a>.</p>
    </div>
    </body>
