@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style ="color:white;background-color:black;">Avondale College Staff</h1>
    <p>Document, Edit and view details of staff at <a href="https://www.avcol.school.nz/">Avondale College</a>.</p>
</div>
