@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is for the purpose of the developer's NCEA work. 
    Personal information will be stored in a database fo the convience of the school admin in regards to your teaching schedule and contact.</p>
