@page
@model AvcolStaff.Pages.SessionS.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sessions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sessions.StaffID" />
            <div class="form-group">
                <label asp-for="Sessions.RoomNumber" class="control-label"></label>
                <input asp-for="Sessions.RoomNumber" class="form-control" />
                <span asp-validation-for="Sessions.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.SubjectsID" class="control-label"></label>
                <select asp-for="Sessions.SubjectsID" class="form-control" asp-items="ViewBag.SubjectsID"></select>
                <span asp-validation-for="Sessions.SubjectsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.Period" class="control-label"></label>
                <input asp-for="Sessions.Period" class="form-control" />
                <span asp-validation-for="Sessions.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.Day" class="control-label"></label>
                <select select asp-for="Sessions.Day" class="form-control" name="Sessions.Day">
                    <option value="">Select a Day</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                </select>
                <span asp-validation-for="Sessions.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.Time" class="control-label"></label>
                <input asp-for="Sessions.Time" readonly class="form-control" />
                <span asp-validation-for="Sessions.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
