@page
@model AvcolStaff.Pages.SessionS.EditModel

@{
    ViewData["Title"] = "Edit";
}

<script type="text/javascript">
    function onPeriodChange() {
        var Period = $('#Sessions_Period').val();
        if (Period == 1) {
            $('#Sessions_Time').val("9:15-10:10");
        }
        else if (Period == 2) {
            $('#Sessions_Time').val("10:15-11:10");
        }
        else if (Period == 3) {
            $('#Sessions_Time').val("11:35 - 12:30");
        }
        else if (Period == 4) {
            $('#Sessions_Time').val("1:20 - 2:15");
        }
        else if (Period == 5) {
            $('#Sessions_Time').val("2:20-3:15");
        }
    }
</script>
<h1>Sessions</h1>

<h4>Sessions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sessions.SessionsID" />
            <div class="form-group">
                <label asp-for="Sessions.StaffID" class="control-label"></label>
                <select asp-for="Sessions.StaffID" class="form-control" asp-items="ViewBag.StaffID"></select>
                <span asp-validation-for="Sessions.StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.SubjectsID" class="control-label"></label>
                <select asp-for="Sessions.SubjectsID" class="form-control" asp-items="ViewBag.SubjectsID"></select>
                <span asp-validation-for="Sessions.SubjectsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.RoomNumber" class="control-label"></label>
                <input asp-for="Sessions.RoomNumber" class="form-control" />
                <span asp-validation-for="Sessions.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.Period" class="control-label"></label>
                <input asp-for="Sessions.Period" class="form-control" />
                <span asp-validation-for="Sessions.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.Day" class="control-label"></label>
                <select select asp-for="Sessions.Day" class="form-control" name="Sessions.Day">
                    <option value="">Select a Day</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                </select>
                <span asp-validation-for="Sessions.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sessions.Time" class="control-label"></label>
                <input asp-for="Sessions.Time" readonly class="form-control" />
                <span asp-validation-for="Sessions.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            @Html.ValidationSummary(false)
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
